.hero {
  position: relative;
  background-color: $blueElis;
  font-size: 16px;
}

.hero--wrapper {
  display: flex;
  background-image: url(../img/house-illustration.svg);
  background-repeat: no-repeat;
  background-position: bottom right -100px;
  background-size: 584px 620px;
  column-gap: 4.1875em;
  padding-top: 7.125em;
  padding-bottom: 9.8125em;
}

.hero--blok-left {
  flex: 0 0 50.37%;
  margin-top: 5.6875em;
}

.hero--descr {
  margin-bottom: 0.444em;
  @include SWCL(1.125em, 500, $pigeonBlue, 1.6875);
}

.hero--title {
  margin-bottom: 0.46875em;
  @include SWCL(4em, 700, $darkBlue, 1.1875);
}

.hero--subtitle {
  @include SWCL(1.125em, 400, $marengo, 2);
  margin-bottom: 2.222em;
}
.hero--button {
}

// Adaptive

@media only screen and (max-width: 1024px) {
  .header {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
}
